.team {
    background: #f4f4fd;
}

.team-title {
    font-family: 'Roboto', sans-serif;
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.team-list {

}

.team-item {

}

.team-ill {
   
}
.team-name {
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
}
.team-type {
    text-align: center;
    color: #434455;
}